<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/library/javascript/libs/css/ui-lightness/jquery-ui-1.9.2.custom.min.css">
<link rel="stylesheet" href="/css/jquery.1.10.3.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/library/javascript/plugins/magnific/magnific-popup.css">	
<!-- ONLY FOR LOGGED IN -->
<!-- Plugin CSS -->
<link rel="stylesheet" href="/library/javascript/plugins/morris/morris.css">
<link rel="stylesheet" href="/library/javascript/plugins/icheck/skins/minimal/blue.css">
<link rel="stylesheet" href="/library/javascript/plugins/select2/select2.css">
<link rel="stylesheet" href="/library/javascript/plugins/fullcalendar/fullcalendar.css">
<!-- ENDONLY FOR LOGGED IN -->
<!-- App CSS -->
<link rel="stylesheet" href="/css/target-admin.css">
<link rel="stylesheet" href="/css/custom.css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="/library/javascript/datatables/datatable.css" />

<link rel="stylesheet" href="/library/javascript/plugins/datepicker/datepicker.css">

<link rel="icon" type="image/x-icon" href="/images/flavicon.png" />
<link rel="icon" href="/images/flavicon.png" type="image/x-icon">	