<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<title>Black Sense System</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	{include_php file='includes/css.php'}
</head>
<body>
{include_php file='includes/header.php'}
<div class="container">
  <div class="content">
    <div class="content-container">
	<div class="content-header">
		<h2 class="content-header-title">Events</h2>
		<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/">Events</a></li>
		<li class="active">List</li>
		</ol>
	</div>	  
	<div class="row">
        <div class="col-md-12">
		<button class="btn btn-secondary fr" type="button" onclick="link('/event/list/details.php'); return false;">Add a new event</button><br/ ><br />
          <div class="portlet">
            <div class="portlet-header">
              <h3>
                <i class="fa fa-hand-o-up"></i>
                Event list
              </h3>
            </div> <!-- /.portlet-header -->			  
            <div class="portlet-content">           			
              <div class="table-responsive">
              <table 
                class="table table-striped table-bordered table-hover table-highlight" 
                data-provide="datatable" 
                data-display-rows="30"
                data-info="true"
                data-search="true"
                data-length-change="false"
                data-paginate="true"
              >
					<thead>
						<tr>
							<th data-sortable="true">Start date</th>
							<th data-sortable="true">Name</th>
							<th data-sortable="true">Branch</th>
							<th data-sortable="true">Address</th>
							<th></th>
						</tr>
					</thead>							
				   <tbody>
				  {foreach from=$eventData item=item}
				  <tr>
					<td>{$item.event_date_start|date_format}</td>
					<td><a href="/event/list/details.php?code={$item.event_code}">{$item.event_name}</a></td>
					<td>{$item.branch_name}</td>	
					<td>{$item.event_address}</td>	
					<td><button onclick="deleteModal('{$item.event_code}', '', 'default'); return false;" class="btn btn-danger">Delete</button></td>
				  </tr>
				{foreachelse}
					<tr><td colspan="5">No events have been added yet</td></tr>
				{/foreach}
				  </tbody>
                </table>
              </div> <!-- /.table-responsive -->
            </div> <!-- /.portlet-content -->
          </div> <!-- /.portlet -->
        </div> <!-- /.col -->	
  </div> <!-- /.content -->
</div> <!-- /.container -->
{include_php file='includes/footer.php'}
{include_php file='includes/javascript.php'}
</html>
